<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Katalog Restoran Favorit Anda">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/favicon-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Katalog Restoran</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
<header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1>Katalog Restoran</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorit</a></li>
            <li><a href="https://github.com/aneirfan">About</a></li>
        </ul>
    </nav>
</header>
<my-hero></my-hero>
<main id="mainContent"></main>
<footer>
    <p>Data diambil dari <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Dicoding Server</a></p>
</footer>
</body>
</html>
