<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maem Apps</title>
</head>
<body>
    <a href="#restoran" class="skip-link">Langsung konten?</a>
    <header>
      <!-- Navigasi Mobile -->
        <div class="menumobile">
            <div class="iconmenu" id="menu">
                <button aria-label="menu">&#9776;</button>
            </div>
          <div class="logomob">Maem Apps</div>
          <div class="logomob">&nbsp;</div>
      </div>
      <nav id="drawer" class="navmobile">
          <ul class="navlistmobile">
              <li class="navitemmobile"><a href="">Home</a></li>
              <li class="navitemmobile"><a href="#">Favorite</a></li>
              <li class="navitemmobile"><a target="_blank" href="https://bolosaholic.com/">About Us</a></li>
          </ul>
      </nav>
      <!-- Navigasi Full -->
      <nav class="nav">
          <a class="navbrand" href="">Maem Apps</a>
          <ul class="navlist">
              <li class="navitems"><a href="">Home</a></li>
              <li class="navitems"><a href="#">Favorite</a></li>
              <li class="navitems"><a target="_blank" href="https://bolosaholic.com/">About Us</a></li>
          </ul>
      </nav>
      </header>

        <main>
        <!-- Jumbotron -->
        <section id="hero" class="hero-class" style="background:linear-gradient(rgba(27, 66, 106, 0.35),rgba(8, 24, 40, 0.75)),url(/images/heros/hero-image_4.jpg), no-repeat; background-position: top; background-size: cover;" >
            <div class="teks-tengah">
                <img alt="logo" src="/images/heros/logotrans.png" style="width: 200px;" class="img-logo">
                <p class="teks-hero">Maem Apps</p>
                <p>Cari restoran favorite Anda</p>
            </div>
        </section>
        <!-- Jumbotron -->

        <!-- konten -->
        <section id="restoran" class="section bg-biru-gelap">
            <h2 class="resto-header">Temukan Restoran</h2>
                <div class="container">
                    <div class="row" id="konten">
                    
                </div>
                <br>
            </div>
        </section>
        <!-- konten -->
        </main>

        <footer>
            <p>Copyright &copy; 2021 - Maem Apps</p>
        </footer>
</body>
</html>
