/*warna*/
:root {
    --putih: #f0f0f0;
    --merah: #bf263b; /*#be3144;*/
    --biru: #192b55; /*#45567d;*/
    --abu: #293139; /*#303841;*/
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--putih);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

a {
    min-width: 45px !important;
    min-height: 45px !important;
    display: flex;
}

.img-logo {
    max-width: 100%;
    height: auto;
  }

.teks-tengah {
    text-align: center;
}

.kota {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    background-color: #135ea8;
    padding: 5px 10px 5px;
    color: white;
    font-weight: 500
  }

  /*Jumbotron*/
  .hero-class {
    min-height:400px!important;
    color:#fff;
    padding-top:5em;
    width:100%;
    background-position:top;
    background-size: cover;
  }
  
  .teks-hero {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.7;
    color: #fff;
  }

  .resto-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
  }
  .bg-biru-gelap {
    background: linear-gradient(87deg, #426bb3 0, #1a174d 100%) !important;
  }

  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    text-decoration: none
  }
  .skip-link:focus {
    top: 100px
  }
  

/*
  AppBar
*/

.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    min-width: 45px;
    min-height: 45px;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1 {
    color: #db0000;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 45px;
    min-height: 45px;
}

/*
  Main Content
*/

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
}

.content .content__heading {
    font-weight: normal;
}


/*
  Resto
*/

.resto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
}


/* daftar restoran */
.resto-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.resto-item__header {
    position: relative;
}

.resto-item .resto-item__header .resto-item__header__poster {
    width: 100%;
}

.resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}

.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
}

.resto-item .resto-item__content {
    padding: 16px;
}

.resto-item .resto-item__content h3 {
    /* margin: 0 0 10px 0;
    min-height: 45px; */
    font-size: 2em;
}

.resto-item .resto-item__content h3 a {
    color: #db0000;
    text-decoration: none;
    min-height: 45px;
}

.resto-item .resto-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* single resto */
.rest {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.rest__overview h3 {
    margin-top: 1em;
}

.rest .rest__poster {
    width: 100%;
    max-width: 400px;
}

.rest .rest__info h4 {
    margin: 8px 0;
}

/*
  Footer
*/

footer {
    padding: 16px;
}

footer p {
    text-align: center;
    color: #aaaaaa;
}

footer p a {
    color: #db0000;
    text-decoration: none;
    display: inline-block;
}

/*
   Like
*/

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
offline
 */

 #loading .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading .content img{
    width: 8rem;
}

#loading .content h2 {
    margin-top: 1rem;
    font-weight: 300;
}

/* review */

.detail-review {
    max-width: 100%;
    text-align: center;
    display: grid;
    gap: 1.4rem;
}

.detail-review-item {
    color: var(--abu);
    border: 1px solid var(--biru);
    border-radius: 1em;
    box-shadow: 0 1px 9px 0 rgb(0, 0, 0);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

.review-name {
    display: flex;
    align-items: center;
}

.review-name img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.review-name span {
    color: var(--merah);
}

.review-body {
    padding: 0 1em 1em 1em;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}